* {
    margin: 0;
    padding: 0;
}

.layout {
    display: flex;
    background-color: white;
}

.image {
    max-height: 100vh;
}

.form {
    margin-top: 20rem;
    margin-left: 18rem;
    text-align: center;

}